<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Yea</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/css/hello.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Hazelcast demo</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div layout:fragment="content"></div>
        </div>
    </div>
</div>

</body>
</html>